.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.animationConatiner {
  width: 150px;
  height: 150px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.text {
  font-size: 1.2rem;
  text-align: center;
  color: #333;
  margin-top: 20px;
  padding: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .animationConatiner {
    width: 75px;
    height: 75px;
    margin-top: 60px;
    margin-bottom: 5px;
  }

  .text {
    font-size: 1rem;
    text-align: center;
    color: #333;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
  }
}
