.landing-page-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.landing-page-head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  background: linear-gradient(
    180deg,
    rgba(115, 115, 115, 0%) 0%,
    rgba(145, 216, 145, 12%) 73%,
    rgba(255, 255, 255, 13%) 100%
  );
}
.landing-head-right {
  width: 50%;
}
.landing-head-left {
  display: flex;
  flex-direction: column;

  gap: 20px;
  width: 50%;
}
.landing-head-content {
  display: flex;
  flex-direction: column;
}
.landing-head-right img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.landing-head-cta {
  background: linear-gradient(90deg, #9feb9f 0%, #85cb85 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
  padding: 2% 5%;
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  width: 80%;
}
.landing-head-cta:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #9feb9f 0%, #9feb9f 100%);
  transition: 300ms ease;
}
.landing-page-nutrition {
  display: flex;
  flex-direction: row-reverse;
  gap: 70px;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
}
.landing-page-nutrition-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nutrition-key-points {
  display: flex;
  flex-direction: column;
}
.landing-page-nutrition-right {
  width: 30%;
}
.landing-page-nutrition-right img {
  width: 100%;
  object-fit: cover;
}
.l-p-p-m-p-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.landing-page-personalized-meal-plan {
  background: linear-gradient(180deg, #bdebbd91 20%, #ffffff 100%);
  display: flex;
  align-items: center;
  padding: 1% 5%;
  justify-content: center;
}
.l-p-p-m-p-right {
  width: 30%;
}
.l-p-p-m-p-right img {
  width: 100%;
  object-fit: cover;
}

.landing-page-AI-sec {
  height: 500px;
}
.landing-page-AI-sec-content {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  z-index: 2;
  height: 100%;
}
.landing-page-AI-sec-content img {
  width: 5%;
}
.fitness-bg {
  width: 100%;
  z-index: 0;
  position: absolute;
}
.fitness-bg img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1440px) {
  .landing-head-right {
    width: 50%;
  }
  .landing-head-left {
    width: 50%;
  }
  .Heading1 {
    font-size: 3rem;
  }

  .NormalText {
    font-size: 1.5rem;
  }
  .btn-Text {
    font-size: 1.3rem;
  }
  .store-thingy span {
    font-size: 1.5rem;
  }
}
@media (max-width: 1044px) {
  .Heading1 {
    font-size: 2.5rem;
  }

  .NormalText {
    font-size: 1.35rem;
  }
  .btn-Text {
    font-size: 1rem;
  }
  .store-thingy span {
    font-size: 1.1rem;
  }
  .dumbelsicon {
    width: 7%;
  }
}
@media (max-width: 780px) {
  .Heading1 {
    font-size: 2rem;
  }

  .NormalText {
    font-size: 1rem;
  }
  .btn-Text {
    font-size: 0.72rem;
  }
  .store-thingy span {
    font-size: 0.72rem;
  }
  .landing-head-cta img {
    width: 10%;
  }
  .fitness-bg img {
    width: 1412px;
    height: 711px;
  }
}
@media (max-width: 440px) {
  .landing-page-head {
    display: flex;
    flex-direction: column;
  }
  .landing-head-right {
    width: 100%;
  }
  .landing-head-left {
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .Heading1 {
    font-size: 1.5rem;
  }

  .NormalText {
    font-size: 0.75rem;
  }
  .btn-Text {
    font-size: 0.6rem;
  }
  .store-thingy span {
    font-size: 0.55rem;
  }
  .landing-page-nutrition {
    flex-direction: column;
    padding: 10% 0 0;
  }
  .landing-page-nutrition-left {
    align-items: center;
  }
  .nutrition-key-points {
    align-items: center;
    text-align: center;
  }
  .landing-page-nutrition-right {
    width: 100%;
  }
  .l-p-p-m-p-left {
    align-items: center;
    text-align: center;
  }
  .landing-page-personalized-meal-plan {
    flex-direction: column;
    padding: 5% 5%;
  }
  .l-p-p-m-p-right {
    width: 100%;
  }
  .landing-page-AI-sec-content {
    text-align: center;
  }
  .landing-page-AI-sec-content img {
    width: 10%;
  }
  .fitness-bg img {
    width: 1412px;
    height: 711px;
  }
}
