/* General Styles */
button {
     outline: none;
     border: none;
     cursor: pointer;
     box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

p {
     margin-top: 0;
     margin-bottom: 0 !important;
}

img {
     max-width: 100%;
     height: auto;
}

.roww {
     padding: 20px;
}

/* Section 1 Styles */
.section1 h4 {
     font-size: 2rem;
     font-weight: bold;
}

.section1 p {
     font-size: 1.2em;
}

.section1 button {
     background: linear-gradient(to right, #9FEB9F 0%, #85CB85 100%);
     margin-top: 1em;
}

.storeimage {
     width: 40px;
}

.store p {
     font-size: 1rem;
     font-weight: bold;
     margin-bottom: 0;
     text-align: left;
     line-height: 1;
}

/* Section 2 Styles */
.cheat-meals-wrapper {
     margin-bottom: 1em;
}

.home-section2,
.home-section4 {
     display: grid;
     gap: 20px;
}

.section2-container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}

.section2-props {
     width: 80px;
     height: 80px;
}


.section2-props-mobile {
     /* width: 80%; */
     height: 400px;
}

.navi-image {
     width: 100%;
     z-index: 2;
}

.store {
     display: flex;
     align-items: center;
     gap: 2rem;
}

.store p {
     font-size: 1rem;
     font-weight: bold;
     text-align: left;
     line-height: 1;
}

/* Layout Section */
.roww {
     display: flex;
     justify-content: space-between;
     gap: 2rem;
}

.section1-container {
     flex: 1 1 50%;
     text-align: center;
}

.section2-container {
     flex: 1 1 50%;
     text-align: center;
}

img.cheat-meal-main {
     width: 110px;
}

img.cheat-meal-image {
     width: 120px;
     max-width: 250px !important;
}

.track-section,
.cheat-meals {
     gap: 20px;
}

.home-section3 {
     padding: 2em;
     background: linear-gradient(180deg, #BDEBBD 20%, #FFFFFF 100%);
}

.cheat-meals-wrapper {
     gap: 30px;
}

.home-section4 {
     padding: 2em;
}

.home-section5 {
     background-image: url(/public/images/fitnessbackground2.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 500px;

     /* Center content */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
}

.track-section2 img {
     display: block;
     margin: 0 auto;
     /* Ensures horizontal centering if needed */
     margin-bottom: 1em;
     /* Space between the image and the text */
}


.track-section {
     display: grid;
}

p {
     margin-bottom: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {

     /* Stack the sections on smaller screens */
     .roww {
          flex-direction: column;
          align-items: center;
     }
     .largescreen-home-page-section1 {
          display: none;
     }
     .mobile-home-page-section1 {
          display: block;
     }
     .section1-container Button {
          font-size: 12px !important;
     }
     .section1-container p {
          text-align: center;
          padding: 1em;
          font-size: 1rem;
     }

     .section1-container,
     .section2-container {
          flex: 1 1 100%;
     }


     .section2-props {
          width: 80px;
          /* Adjust image size for mobile */
     }

     .section2-props-mobile {
          width: 100%;
          height: 250px;
     }

     .store {
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          display: none;
     }

     .home-section2 {
          padding: 2em;
          display: flex;
          align-items: center;
          gap: 20px;
          justify-content: space-around;
          flex-direction: column-reverse;
      }

     .home-section3 {
          justify-content: space-around;
     }
     .meal-plan-wrapper h4{
          text-align: left !important;
     }
     .track-section {
          font-size: 0.9rem;
     }
     .home-section4 {
          flex-direction: column-reverse;
          display: flex;

     }


}

@media (min-width: 768px) {
     .roww {
          flex-direction: row;
          align-items: center;
     }
     .mobile-home-page-section1 {
          display: none;
     }
     .largescreen-home-page-section1 {
          display: block;
     }
     .section1-container {
          text-align: left;
     }
     .section1 p{
          text-align: left;
          padding: 0;
     }
     .section2-props-mobile {
          height: 300px;
      }
     .section2-container {
          display: flex;
          justify-content: space-between;
     }


     .home-section2 {
          padding: 2em;
          display: flex;
          align-items: center;
          gap: 20px;
          justify-content: space-around;
          flex-direction: row;
     }

     img.workout-plan-image {
          width: 350px;
     }

     .navi-image {
          width: 300px;
     }

     .home-section4,
     .home-section3 {
          display: flex;
          justify-content: space-around;
          flex-direction: row;

     }
     .store {
          display: block;
     }

}

@media (min-width: 992px) {

     .roww {
          padding: 0em 6em;
     }
     .mobile-home-page-section1 {
          display: none;
     }

     /* Larger screens - adjust widths and layout */
     .section1 h4,
     .home-section2 h4,
     .meal-plan-wrapper h4 {
          font-size: 2rem;
     }

     .section1 p,
     .home-section2 p,
     .meal-plan-wrapper p {
          font-size: 1.2rem;
     }

     .section2-props {
          width: 80px;
          height: 80px;
     }


     .store {
          gap: 3rem;
     }

     .home-section2,
     .home-section3 {
          padding: 2em;
          justify-content: space-around;
     }

     .home-section3 {
          display: flex;
     }

     img.cheat-meal-main {
          width: 190px;
     }

     img.cheat-meal-image {
          width: 200px;
     }

     img.workout-plan-image {
          width: 350px;
     }

     .navi-image {
          width: 300px;
     }

     .home-section3,
     .home-section4,
     .home-section5 {
          height: 530px;
          margin-bottom: 0.5em;
     }
     .section2-props-mobile {
          height: 400px;
      }


}

@media (min-width: 1440px) {

     .section1 h4,
     .home-section2 h4,
     .meal-plan-wrapper h4 {
          font-size: 3rem;
     }

     .section2-props-mobile {
          height: 550px;
     }

     .section1 p,
     .home-section2 p,
     .meal-plan-wrapper p {
          font-size: 1.8rem;
     }
}