.home-page-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  align-items: center;
}
.home-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100vw;
}
