.footer-container {
  /* background-color: #faeafc; */
  padding: 2rem;
  position: relative;
  border-top: 0.5px solid #9E9E9E;
  width: '90%';
  font-family: 'Plus Jakarta Sans';

}

.footer-wrapper {
  display: flex;
  /* Allow wrapping on smaller screens */
  justify-content: space-between;
  align-items: center;
}


.footer-section1{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.address-container{
  display: flex;
  flex-direction: column;
}
.footer-section1,
.footer-section2 {
  flex: 1 1 100%;
  /* Default to full width */
  max-width: 100%;
  margin-bottom: 1rem;
}

.footer-section2 {
  font-weight: bold;
  font-size: 1.25rem;
  font-family: 'Plus Jakarta Sans';
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
}

.footer-button {
  background: linear-gradient(to right, #9feb9f 0%, #85cb85 100%);
  color: #000000 !important;
  font-weight: bold !important;
  padding: 10px;
  outline: none !important;
  border: none !important;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  font-family: 'Plus Jakarta Sans';
}

.footer-cta {
  background: linear-gradient(to right, #9feb9f 0%, #85cb85 100%);
  width: 70%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
  border-radius: 10px;
  padding: 2% 5%;
}

.footer-cta:hover {
  cursor: pointer;
  background-color: #9feb9f;
  background: #9feb9f;
  transition: 200ms ease;
}

.footer-btn-Text {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: 'Plus Jakarta Sans';
}

.fire-emoji {
  width: 5px;
  height: 5px;
  margin-left: 8px;
}

.footer-section1 {
  font-size: 1.25rem;
  font-family: 'Plus Jakarta Sans';
}

.footer-section2 p {
  cursor: pointer;
}

/* Larger screens */
@media (min-width: 992px) {
  .footer-wrapper {
    flex-wrap: nowrap;
    /* Prevent wrapping on large screens */
  }

  .footer-section1 {
    flex: 1;
    /* Left section takes equal space */
    text-align: left;
    margin-right: 2rem;
  }

  .footer-section2 {
    flex: 1;
    /* Right section adjusts automatically */
    text-align: right;
  }
}

/* Smaller screens */
@media (max-width: 576px) {
  .footer-container {
    padding: 1rem;
  }

  .footer-button {
    font-size: 0.9rem;
    padding: 8px;
    font-family: 'Plus Jakarta Sans';
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-family: 'Plus Jakarta Sans';
}


.footer-getappbutton {
  background: linear-gradient(112.218deg, #B0BEC5 0%, #D6E3EA 100%);
  padding: 4px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: max-content;
  float: inline-end;
  cursor: pointer;
}

.footer-getappbutton-p {
  color: #095846;
  font-weight: bold;
  font-family: 'Plus Jakarta Sans';
  font-size: 1rem;
}


.footer-section-span {
  font-size: 1.2rem;
}