.footer-container {
  /* background-color: #faeafc; */
  padding: 2rem;
  position: relative;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  justify-content: space-between;
  align-items: center;
}

.footer-section1,
.footer-section2 {
  flex: 1 1 100%; /* Default to full width */
  max-width: 100%;
  margin-bottom: 1rem;
}

.footer-section2 {
  font-weight: bold;
  font-size: 1.25rem;
}

.footer-button {
  background: linear-gradient(to right, #9feb9f 0%, #85cb85 100%);
  color: #000000 !important;
  font-weight: bold !important;
  padding: 10px;
  outline: none !important;
  border: none !important;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.footer-cta {
  background: linear-gradient(to right, #9feb9f 0%, #85cb85 100%);
  width: 70%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
  border-radius: 10px;
  padding: 2% 5%;
}
.footer-cta:hover {
  cursor: pointer;
  background-color: #9feb9f;
  background: #9feb9f;
  transition: 200ms ease;
}
.footer-btn-Text {
  font-size: 1.25rem;
  font-weight: 700;
}
.fire-emoji {
  width: 5px;
  height: 5px;
  margin-left: 8px;
}

.footer-section1 {
  font-size: 1.25rem;
}

/* Larger screens */
@media (min-width: 992px) {
  .footer-wrapper {
    flex-wrap: nowrap; /* Prevent wrapping on large screens */
  }

  .footer-section1 {
    flex: 1; /* Left section takes equal space */
    text-align: left;
    margin-right: 2rem;
  }

  .footer-section2 {
    flex: 1; /* Right section adjusts automatically */
    text-align: right;
  }
}

/* Smaller screens */
@media (max-width: 576px) {
  .footer-container {
    padding: 1rem;
  }

  .footer-button {
    font-size: 0.9rem;
    padding: 8px;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}



