.footer-container {
  padding: 0px 20px 30px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-line-wrapper {
  border-top: 1px solid #b4b4b4;
  margin: 0 20px;
}
.footer-brand-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.brand-logo-wrapper {
  width: 24px;
  height: 24px;
}
.brand-logo-wrapper img {
  width: 100%;
}
.brand-name-wrapper {
  font-size: 0.625rem;
  font-weight: bold;
}
.t-and-c-container {
  text-decoration: underline;
  font-size: 0.625rem;
}
.contact-us-heading {
  font-size: 0.625rem;
  font-weight: bold;
}
.contact-us-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-us-email {
  font-size: 0.625rem;
  font-weight: bold;
  font-style: italic;
}

.contact-us-email:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (min-width: 760px) {
  .footer-container {
    padding: 0px 20px 30px;
  }
  .footer-line-wrapper {
    margin: 0 40px;
  }
  .brand-logo-wrapper {
    width: 44px;
    height: 44px;
  }
  .brand-name-wrapper {
    font-size: 1rem;
  }
  .t-and-c-container {
    font-size: 1rem;
  }
  .contact-us-heading {
    font-size: 1rem;
  }
  .get-the-app-btn {
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 1rem;
  }
  .contact-us-email {
    font-size: 1rem;
  }
}

@media (min-width: 1430px) {
  .footer-container {
    padding: 0px 40px 60px;
  }
  .footer-wrapper {
    gap: 30px;
  }
  .footer-line-wrapper {
    margin: 0 90px;
  }
  .brand-logo-wrapper {
    width: 44px;
    height: 44px;
  }
  .brand-name-wrapper {
    font-size: 1.2rem;
  }
  .t-and-c-container {
    font-size: 1.2rem;
  }
  .contact-us-heading {
    font-size: 1.2rem;
  }
  .get-the-app-btn {
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 1.2rem;
  }
  .contact-us-email {
    font-size: 1.2rem;
  }
}

@media (min-width: 1910px) {
  .footer-wrapper {
    gap: 30px;
  }
  .footer-line-wrapper {
    margin: 0 90px;
  }
  .brand-logo-wrapper {
    width: 64px;
    height: 64px;
  }
  .brand-name-wrapper {
    font-size: 1.4rem;
  }
  .t-and-c-container {
    font-size: 1.4rem;
  }
  .contact-us-heading {
    font-size: 1.4rem;
  }
  .get-the-app-btn {
    font-size: 1.4rem;
  }
  .contact-us-email {
    font-size: 1.4rem;
  }
}

@media (min-width: 2550px) {
  .footer-container {
    padding: 0px 60px 60px;
  }
  .footer-wrapper {
    gap: 30px;
  }
  .footer-line-wrapper {
    margin: 0 150px;
  }
  .brand-logo-wrapper {
    width: 74px;
    height: 74px;
  }
  .brand-name-wrapper {
    font-size: 1.8rem;
  }
  .t-and-c-container {
    font-size: 1.8rem;
  }
  .contact-us-heading {
    font-size: 1.8rem;
  }
  .get-the-app-btn {
    font-size: 1.8rem;
  }
  .contact-us-email {
    font-size: 1.8rem;
  }
}
