.nav-component-container {
  padding: 20px 30px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 15%);
}
.nav-component-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1910px) {
  .nav-component-container {
    padding: 40px 100px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 15%);
  }
  .nav-component-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 2540px) {
  .nav-component-container {
    padding: 40px 100px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 15%);
  }
  .nav-component-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
