.forgotpassword-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    gap: 2rem;
}

.forgotpassword-header-wrapper {
    justify-content: center;
}

.forgotpassword-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.forgotpassword-wrapper-content {
    width: 100%;
    max-width: 400px;
    /* Adjust for responsiveness */
    display: flex;
    flex-direction: column;
}

.form-inputes {
    width: 100%;
    margin-bottom: 20px;
}

.forgotpassword-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.forgotpassword-button {
    box-shadow: 0px 4px 5px 0px rgba(183, 197, 204, 30%);
    background-color: #D6E3EA;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans';
    min-width: 250px;
    max-width: 400px;
}


span.forgotpassword-content-heading {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans';
}


span.forgotpassword-content-note {
    font-size: 11px;
    font-family: 'Plus Jakarta Sans';
    margin-top: 1rem;
}

.form-inputes {
    margin-top: 2rem;
}

.form-inputes input {
    border: none;
    border-bottom: 1px solid;
    border-radius: 0px;
    font-family: 'Plus Jakarta Sans';
}

.forgotpassword-error-text {
    color: red;
    font-size: 10px;
}


/* verify otp css */
.verify-otp-inputs {
    display: flex;
    gap: 0.5rem;
}

.verify-otp-input {
    height: 55px;
    border-radius: 10px;
    border: 0.8px solid;
}

.resend-otp {
    font-size: 14px;
    font-family: 'Plus Jakarta Sans';

}

.verify-otp-inputs input {
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans';
}

.form-inputes label {
    margin-bottom: 0px;

}

.form-inputes input {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 1.6rem;
    width: 20px;
}

.otp-message{
    color: red;
    font-size: 12px;
    font-family: 'Plus Jakarta Sans';
}

.forgotpassword-header-wrapper h4{
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
}
span.pass-note{
    font-size: 8px;
}