.delete-account-container {
    padding: 3%;
    background-image: url('/public/images/contactUs/contactusbg.svg');
    background-repeat: no-repeat;
}


.submitbutton-div {
    display: flex;
    justify-content: flex-end;
}

.delete-account-header2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    padding: 0 15rem;
}

.delete-account-header2-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.delete-account-header2-content p {
    font-size: 3rem;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
}

.delete-account-wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.delete-account-card {
    background-color: #ffffff;
    border-radius: 20px;
    gap: 3rem;
    width: 800px;
    padding: 2rem;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 15%);
    margin-top: 3rem;
}

.delete-account-form-wrapper1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.delete-account-form-group label {
    margin-bottom: 0px;
    font-family: 'Plus Jakarta Sans';
    font-weight: normal;
}

.delete-account-form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.delete-submitbutton-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.delete-account-input {
    padding: 6px 12px !important;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid #B5B5B5;
    border-radius: 0px;
}

p.delete-account-note {
    width: 80%;
    font-size: 1rem;
}

.delete-account-form-group {
    position: relative;
}

.delete-account-toggle-eye {
    position: absolute;
    right: 1rem;
    top: 3rem;
}



@media (max-width: 768px) {
    .delete-account-header2 {
        padding: 0px;
    }

    .delete-account-header2-content p {
        font-size: 1.8rem;
        font-family: 'Plus Jakarta Sans';
        font-weight: bold;
        text-align: center;
    }
    p.delete-account-note {
        width: 100%;
        font-size: .6rem !important;
    }

    .delete-account-wrapper {
        margin-top: 0rem;
       
    }
}