.contact-us-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 5% 0;
}
.contact-us-heading {
  background-image: url("/images/contactUs/contactUsBG.png");
  display: flex;
  height: 700px;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;
  color: white;
  background-repeat: no-repeat;
}

.contact-us-head {
  font-size: 2.25rem;
  font-weight: 700;
  padding: 0 5%;
}
.contact-us-content {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  padding: 5% 5%;
}
.contact-us-form {
  width: 30%;
}
.contact-form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

textarea {
  height: 80px;
  resize: none;
}

.mobile-input {
  display: flex;
  gap: 8px;
}

select {
  width: 25%;
}

input[type="tel"] {
  width: 75%;
}

.submit-button {
  padding: 10px 16px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.submit-button:hover {
  background-color: #333;
}
@media (max-width: 800px) {
  .contact-us-form {
    width: 40%;
  }
  .contact-us-heading {
    width: 40%;
  }
}
@media (max-width: 450px) {
  .contact-us-wrapper {
    flex-direction: column;
    align-items: center;
    margin: 5% 0;
    gap: 20px;
  }

  .contact-us-heading {
    background: rgb(159, 235, 159);
    background: linear-gradient(
      180deg,
      rgba(159, 235, 159, 0.6) 0%,
      rgba(255, 255, 255, 0.4318102240896359) 100%
    );
    height: 100%;
    justify-content: flex-start;
    width: 90%;
    color: black;
  }

  .contact-us-head {
    padding: 0 2%;
  }
  .contact-us-content {
    font-size: 1.25rem;
    padding: 5% 2%;
  }
  .contact-us-form {
    width: 90%;
  }
  .contact-form {
    width: 100%;
    gap: 16px;
  }
}
