.contact-us-container {
  padding: 3%;
  background-image: url('/public/images/contactUs/contactusbg.svg');
  background-size: contain;
  /* background-position: top; */
  background-repeat: no-repeat;
  /* height: 100vh;  */
}

.submitbutton-div {
  display: flex;
  justify-content: flex-end;
}

.contact-us-header2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 0 15rem;
}

.contact-us-header2-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-us-header2-content p {
  font-size: 76px;
  font-family: 'Plus Jakarta Sans';
  font-weight: bold;
}

p.contact-us-header-detail {
  color: #656565;
  text-align: center;
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;

}


.contact-us-header2-content img {
  cursor: pointer;
}

.contact-us-wrapper {
  margin-top: 3rem;
}

.contact-us-card-section1-groupcontent {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-us-card-section1-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #ffffff;
  font-family: 'Plus Jakarta Sans';
  font-weight: bold;
  margin-top: 5rem;
}

p.contact-us-card-section1-para {
  color: #ffffff;
  font-family: 'Plus Jakarta Sans';
  font-weight: bold;
}

.contact-us-heading {
  background-image: url("/images/contactUs/contactUsBG.png");
  display: flex;
  height: 700px;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;
  color: white;
  background-repeat: no-repeat;
}

.contact-us-head {
  font-size: 2.25rem;
  font-weight: 700;
  padding: 0 5%;
}

.contact-us-wrapper {
  display: flex;
  justify-content: center;
}

.contact-us-card {
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 3rem;
  /* justify-content: center; */
  width: 800px;
  padding: 1.5rem;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 15%);
}

.contact-input {
  border-bottom: 1px solid #B5B5B5 !important;
  outline: none !important;
  /* padding: 8px 12px; */
  font-size: 14px;
  border: none;
  border-radius: 0px;
  font-weight: bold;
}

.contact-us-card-section1 {
  background-color: #77A5B9;
  border-radius: 20px;
  height: 575px;
  padding: 1rem;
  width: 350px;
}

.contact-us-content {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  padding: 5% 5%;
}

.contact-us-form {
  width: 30%;
}

.contact-form-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}


.contact-form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-form-group label {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 4px;
  font-family: 'Plus Jakarta Sans';
}

input,
textarea,
select {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
}

textarea {
  height: 80px;
  resize: none;
}

.mobile-input {
  display: flex;
  gap: 8px;
}

select {
  width: 25%;
}

input[type="tel"] {
  width: 75%;
}

.submit-button {
  padding: 6px 20px;
  background-color: #77A5B9;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  width: fit-content;
}

.submit-button:hover {
  background-color: #333;
}


@media (max-width: 768px) {

  .contact-us-container {
    background-size: auto;
  }

  .contact-us-header2 {
    padding: 0px;
    margin-top: 3rem;

  }

  .contact-us-header2-content p {
    font-size: 30px;
  }

  .contact-us-card {
    flex-direction: column;
  }

  .contact-us-card-section1 {
    height: 300px;
    max-width: 500px;
  }


}