.location-request-wrapper {
  height: 50vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.location-select-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.location-request-head {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.custom-select {
  width: 500px;
}
.custom-select .react-select__control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  font-size: 1em;
}

.custom-select .react-select__control--is-focused {
  border-color: #007bff;
  box-shadow: 0 0 0 1px #007bff;
}

.custom-select .react-select__menu {
  border-radius: 5px;
  background-color: #fff;
  z-index: 10;
}

.custom-select .react-select__option--is-focused {
  background-color: #007bff;
  color: #fff;
}

.custom-select .react-select__option--is-selected {
  background-color: #0056b3;
  color: #fff;
}

@media (max-width: 450px) {
  .custom-select {
    width: 300px;
  }

  .location-request-head {
    text-align: center;
  }
}
