a.navbar-brand {
     display: flex;
     align-items: center;
     gap: 10px;
     text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}


@media (min-width: 768px) {
     nav.bg-body.mb-3.navbar.navbar-light {
          padding: 2em 3em;
     }

     .section1 {
          text-align: left;
     }
}

@media (min-width: 992px) {
     nav.bg-body.mb-3.navbar.navbar-light {
          padding: 2em 3em;
     }

}

.offcanvas.offcanvas-end.show {
     width: 25% !important;
}

a {
     text-decoration-line: none !important;

}

.footer-button {
     background: linear-gradient(to right, #9FEB9F 0%, #85CB85 100%);
     color: #000000 !important;
     font-weight: bold !important;
     padding: 10px;
     outline: none !important;
     border: none !important;
     box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
     font-size: 0.9rem !important;
}