/* a.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}



.Heading2 {
  font-size: 2.25rem;
  font-weight: 700;
}

.nav-bar-cta {
  background: linear-gradient(to right, #9feb9f 0%, #85cb85 100%);
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
  transition: 200ms ease;
}

.nav-bar-cta:hover {
  cursor: pointer;
  background: linear-gradient(to left, #9feb9f 0%, #85cb85 100%);
}

.home-btn {
  border-bottom: 2px solid #7c7c7c8f;
  margin: 0 20px 0;
  padding: 0 0 20px;
}

.terms-a-c-btn {
  border-bottom: 2px solid #7c7c7c8f;
  margin: 0 20px 0;
  padding: 0 0 20px;
}

.contact-us-btn {
  border-bottom: 2px solid #7c7c7c8f;
  margin: 0 20px 0;
  padding: 0 0 20px;
}

.hamburger-nav-bar:hover {
  cursor: pointer;
}

.about-us-btn {
  margin: 0 20px 0;
  padding: 0 0 20px;
} */

@media (min-width: 992px) {
  /* nav.bg-body.mb-3.navbar.navbar-light {
    padding: 2em 3em;
  }

  .offcanvas.offcanvas-end.show {
    width: 30% !important;
  } */
}

a {
  text-decoration-line: none !important;
}

h4.ms-2 {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {}

@media (min-width: 768px) {}



/* new css */
.newNavbarContainer {
  background-color: #FFFFFF;
  border-radius: 64px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 15%);
  gap: 20px;
  width: 95%;
  margin-top: 30px;
  display: inline-flex;
  margin-left: 2.5%;
  justify-content: space-between;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  font-family: 'Plus Jakarta Sans';

}

.navBarBrand {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navTabs {
  display: flex;
  align-items: center;
  gap: 26px;
}

.getappbutton {
  background: linear-gradient(112.218deg, #B0BEC5 0%, #D6E3EA 100%);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

p {
  margin-bottom: 0 !important;
}

p.getappbutton-p {
  color: #095846;
  font-weight: bold;
  font-family: 'Plus Jakarta Sans';
}

.navTabs p {
  color: #6C8688;
  font-weight: bold;
  font-family: 'Plus Jakarta Sans';
  cursor: pointer;
}

.navTabs p:hover {
  background-color: #f4f4f4;
  padding: 6px 15px;
  border-radius: 1rem;
}

.Rightintake-Logo-Name {
  font-weight: 700;
  font-family: 'Plus Jakarta Sans';
}