
a {
  text-decoration-line: none !important;
}

h4.ms-2 {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 500px) {
  .footer-section2 {
    align-items: flex-start;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
}

@media (min-width: 768px) {
}

/* new css */

p {
  margin-bottom: 0 !important;
}
