a.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.Heading2 {
  font-size: 2.25rem;
  font-weight: 700;
}

.nav-bar-cta {
  background: linear-gradient(to right, #9feb9f 0%, #85cb85 100%);
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
  transition: 200ms ease;
}

.nav-bar-cta:hover {
  cursor: pointer;
  background: linear-gradient(to left, #9feb9f 0%, #85cb85 100%);
}
.home-btn {
  border-bottom: 2px solid #7c7c7c8f;
  margin: 0 20px 0;
  padding: 0 0 20px;
}
.terms-a-c-btn {
  border-bottom: 2px solid #7c7c7c8f;
  margin: 0 20px 0;
  padding: 0 0 20px;
}
.contact-us-btn {
  border-bottom: 2px solid #7c7c7c8f;
  margin: 0 20px 0;
  padding: 0 0 20px;
}

.hamburger-nav-bar:hover {
  cursor: pointer;
}
.about-us-btn {
  margin: 0 20px 0;
  padding: 0 0 20px;
}
@media (min-width: 992px) {
  nav.bg-body.mb-3.navbar.navbar-light {
    padding: 2em 3em;
  }

  .offcanvas.offcanvas-end.show {
    width: 30% !important;
  }
}

a {
  text-decoration-line: none !important;
}

h4.ms-2 {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .offcanvas.offcanvas-end.show {
    width: 100% !important;
  }

  .Heading2 {
    font-size: 2rem;
    font-weight: 700;
  }

  .nav-bar-cta {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  nav.bg-body.mb-3.navbar.navbar-light {
    padding: 2em 3em;
  }

  .section1 {
    text-align: left;
  }

  .offcanvas.offcanvas-end.show {
    width: 40% !important;
  }
  .Heading2 {
    font-size: 2.25rem;
    font-weight: 700;
  }
}
