
a {
  text-decoration-line: none !important;
}

h4.ms-2 {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 500px) {
  .footer-section2 {
    align-items: flex-start;

  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
}


/* new css */
.newNavbarContainer {
  background-color: #FFFFFF;
  border-radius: 64px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 15%);
  gap: 20px;
  width: 95%;
  margin-top: 30px;
  display: inline-flex;
  margin-left: 2.5%;
  justify-content: space-between;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  font-family: 'Plus Jakarta Sans';

}

.navBarBrand {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navTabs {
  display: flex;
  align-items: center;
  gap: 26px;
}

.getappbutton {
  background: linear-gradient(112.218deg, #B0BEC5 0%, #D6E3EA 100%);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

p {
  margin-bottom: 0 !important;
}

p.getappbutton-p {
  color: #095846;
  font-weight: bold;
  font-family: 'Plus Jakarta Sans';
}

.navTabs p {
  color: #6C8688;
  font-weight: bold;
  font-family: 'Plus Jakarta Sans';
  cursor: pointer;
}

.navTabs p:hover {
  background-color: #f4f4f4;
  padding: 6px 15px;
  border-radius: 1rem;
}

.Rightintake-Logo-Name {
  font-weight: 700;
  font-family: 'Plus Jakarta Sans';
  font-size: x-large;
}