.form-conatiner {
     display: grid;
     gap: 10px;
     align-items: center;
     justify-content: center;
     text-align: center;
     margin: 1em;
}

.form-header h3,
.form-header p {
     text-transform: uppercase;
     font-weight: bold;
}

.form-header p {
     color: #3F3F3F;
}

Button.letsGoButton {
     background: linear-gradient(to right, #9FEB9F 0%, #D7F9D7 100%);
     text-align: center;
     outline: none;
     border: none;
     width: auto;
     align-self: center;
     font-weight: 600;
     padding: 10px 20px;

}

.age-input {
     text-align: center;
     box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
     width: 60px;
     outline: none;
     border: none;
     border-radius: 5px;
}

.text-danger {
     color: red;
     font-size: 14px;
}

.progress {
     background-color: #FEC4C4 !important;
     height: 5px !important;
     width: 100% !important;
}

.progress-bar.bg-success {
     background-color: #F59090 !important;
}

.grp-button p {
     border: 1px solid black;
}

p.para1 {
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;

}

p.para2 {
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;

}

/* Default styles for options */
.para1,
.para2 {
     padding: 1px 20px;
     cursor: pointer;
     border: 1px solid #ccc;
     background-color: #f9f9f9;
     transition: background-color 0.3s, color 0.3s;
     font-size: 10px;
}

/* Active state styles */
.para1.active,
.para2.active {
     background-color: #4caf50;
     /* Green for selected option */
     color: white;
     border-color: #4caf50;
}

.form {
     margin-bottom: 10em;
}

.form1 {
     margin-bottom: 5em;
}

.form input,
.form1 input {
     background-color: #FDF4F4;
     border: 1px solid #F59090;
     padding: 10px 14px;
     border-radius: 10px;
}

button.btn-continue {
     background-color: #000000;
     outline: none;
     border: none;
     border-radius: 10px;
}

button.veg-button,
button.nonveg-button,
button.buttonTrained {
     border: none;
     outline: none;
     color: #000000;
     width: 230px;  /* changed to 230px before it was 200px */
     border-radius: 8px;
}

button.selectedButton{
     background-image: linear-gradient(to right, #FF9191 0%, #FFD0D0 100%);
     width: 230px;
     border-radius: 8px;
     border: none;
     outline: none;
}
button.veg-button {
     background-image: linear-gradient(to right, #9FEB9F 0%, #D7F9D7 100%);
}

button.nonveg-button {
     background-image: linear-gradient(to right, #FF9191 0%, #FFD0D0 100%);
}

button.buttonTrained{
     background-image: linear-gradient(to right, #9FEB9F 0%, #D7F9D7 100%);
}
.diet-ui-container {
     margin-bottom: 9em;
}

@media (min-width: 768px) {

     .form-conatiner {
          margin: 3em;
     }
}

canvas {
     max-width: 250px !important;
     max-height: 250px !important;
}

.bmi-chart {
     width: 250px;
     height: 250px;
}

.bmi-ui-wrapper {
     max-height: 250px !important;
}

.bmi-ui-section1,
.bmi-ui-section2 {
     height: 100%;
}

.bmi-category {
     display: flex;
     gap: 9em;
     margin-top: -4.5em;
}

.bmi-category p {
     font-size: 0.8em;
}

.bmi-content {
     margin-top: -7em;
}

.bmi-ui-content {
     background: linear-gradient(to right, #9FEB9F 0%, #D7F9D7 100%);
     border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
     padding: 10px;
     height: 250px;

}

.bmi-content-para {
     padding: 10px 30px;
}

.fitness-range {
     width: 550px;
}

.range-with-lines {
     height: 25px;
}

.fitness-newcommer-ui {
     border-radius: 6px;
     border: 1px solid #FFA7A7;
     background-color: #FDF4F4;
     padding: 10px;
}

.fitness-submit-btn {
     margin-top: 8em;
}

.weekday-card,
.goal-card,
.workout-card,
.equipment-card {
     padding: 4px 12px;
     border-radius: 6px;
     box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
     cursor: pointer;
     background: linear-gradient(to right, #9FEB9F 0%, #D7F9D7 100%);
}

.nonveg-submit-btn {
     margin-top: 12em;
}

.weekday-card-active,
.goal-card-active,
.workout-card-active,
.equipment-card-active {
     background: linear-gradient(to right, #FF9191 0%, #FFD0D0 100%);
}

.goal-card,
.workout-card {
     height: 80px;
     width: 300px;
}


.goalimages {
     width: 90px;
     margin-top: -0.8em;
     height: 90px;
     object-fit: fill;
}

.workoutimages {
     width: 100px;
     height: 100px;
     object-fit: fill;
     border-radius: 10px;
}

.equipment-card {
     padding: 16px;
     width: 300px;
}

span.equipment-card-para {
     font-size: 12px;
}

.workoutinsight-image {
     width: 300px;
}

.workoutinsight-list-image {
     width: 20px;
}

.workout-insight-section2 {
     background: linear-gradient(to right, #9FEB9F 0%, #D7F9D7 100%);
     border-top-left-radius: 40px;
     border-bottom-left-radius: 40px;
     padding: 30px;
     /* height: 250px; */
}
.workoutinsight-wrapper {
     display: grid;
     justify-content: center;
}

/* form */

.max-w-400 {
     max-width: 400px;
   }
   
   label {
     display: block;
     margin-bottom: 1rem; /* Add margin-bottom to the label */
     font-weight: bold;
   }

   .form-control {
     border: 2px  #000;
     border-radius: 0.25rem;
     padding: 0.375rem 0.75rem ;
     font-size: 1rem;
     font-weight: bold;
     margin-bottom: 1rem; 
   }

   
   




