.overall-summary-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.overall-summary-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.overall-summary-head {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.summary-head-bodies {
  position: relative;
  display: flex;
  align-items: center;
}

.summary-head-bodies::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.summary-body-seperator {
  position: relative;
  z-index: 2;
}
.summary-head-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.summary-head-content-headings {
  display: flex;
  flex-direction: row;
  gap: 450px;
  border-bottom: 1px solid black;
}
.summary-head-content-headings span {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}
.summary-head-content-body-fat {
  display: flex;
  gap: 400px;
}

.body-fat-content-now {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.body-fat-content-now span {
  font-size: 2.25rem;
  font-weight: 700;
}
.body-fat-content-now span:nth-child(2) {
  font-weight: 500;
}
.body-fat-content-fut {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.body-fat-content-fut span {
  font-size: 2.25rem;
  font-weight: 700;
}
.body-fat-content-fut span:nth-child(2) {
  font-weight: 500;
}
.summary-head-content-muscle-mass {
  display: flex;
  gap: 250px;
}
.body-fat-muscle-mass-now {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.body-fat-muscle-mass-fut {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.body-fat-muscle-mass-now span {
  font-size: 2.25rem;
  font-weight: 700;
}
.body-fat-muscle-mass-now span:nth-child(2) {
  font-weight: 500;
}
.body-fat-muscle-mass-fut span {
  font-size: 2.25rem;
  font-weight: 700;
}
.body-fat-muscle-mass-fut span:nth-child(2) {
  font-weight: 500;
}

.repersentation-purpose-text {
  color: rgba(0, 0, 0, 0.6);
}

.personalized-insights-text {
  font-size: 2.375rem;
  font-weight: 700;
  padding-top: 10%;
}
.personalized-insights-wrapper {
  padding-top: 80px;
  margin: 30px 0 0;
  background: linear-gradient(
    180deg,
    rgba(189, 235, 189, 0.6) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.maintenance-calories-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
}
.maintenance-calories-content {
  display: flex;
  justify-content: space-between;
  font-size: 2.25rem;
  align-items: flex-end;
}
.maintenance-cal-heading {
  font-size: 2.375rem;
  font-weight: 700;
}
.calories-and-water-wrapper {
  display: flex;
  justify-content: center;
  gap: 80px;
}
.water-intake-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
}
.w-i-content {
  display: flex;
  justify-content: space-between;
  font-size: 2.25rem;
  align-items: flex-end;
}
.water-intake-heading {
  font-size: 2.375rem;
  font-weight: 700;
}
.personalized-goal-wrapper {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 80px 0 0;
}
.personalized-goal-heading {
  font-size: 2.25rem;
  font-weight: 700;
  width: 50%;
  padding: 20px;
}
.goal-key-point {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
.personalized-insights-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.get-diet-plan-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;

  gap: 20px;
}

.blinking-text {
  background: radial-gradient(circle at bottom, white, transparent 80%);
  animation: bg 30s infinite;
  padding: 5px 10px;
  border-radius: 20px;
}
@keyframes bg {
  0%,
  100% {
    background-color: rgb(188, 188, 255);
  }
  25% {
    background-color: rgb(177, 255, 177);
  }
  50% {
    background-color: rgb(255, 255, 144);
  }
  75% {
    background-color: pink;
  }
}
.get-diet-plan-second-head {
  font-weight: 400;
}
.payment-plan-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(235, 189, 189) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
  padding: 0 0 20px;
}
.payment-heading {
  color: white;
  background-color: black;
  width: 100%;
  padding: 10px 50px;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", serif;
}
.payment-amount {
  font-size: 4rem;
  font-weight: 700;
}
.low-font-weight {
  font-weight: 400;
}

.scratched-out-font {
  text-decoration: line-through;
}
.pay-now-btn {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 20px 40px;
  background-color: black;
  color: white;
  border-radius: 20px;
}
.pay-now-btn:hover {
  cursor: pointer;
  background-color: #5d5d5d;
  transition: 300ms ease;
}
.app-info-wrapper {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.app-info-heading {
  font-size: 2.375rem;
  font-weight: 700;
}

.app-info-sub-heading {
  font-size: 2.25rem;
  font-weight: 600;
  color: #696969;
}
.app-info-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 400px;
  margin: 0 0 100px;
}
.app-info-key-points {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.app-info-key-point {
  display: flex;
  gap: 40px;
  align-items: center;
  font-size: 2rem;
}
.app-info-app-img {
  width: 30%;
}
.app-info-app-img img {
  object-fit: contain;
  width: 100%;
  height: 700px;
}
@media (max-width: 1200px) {
  .app-info-content {
    gap: 200px;
  }
  .app-info-key-point {
    font-size: 1.3rem;
  }
  .app-info-app-img {
    width: 30%;
  }
  .app-info-app-img img {
    object-fit: contain;
    width: 100%;
    height: 700px;
  }
}
@media (max-width: 800px) {
  .personalized-insights-text {
    font-size: 1.8rem;
  }
  .maintenance-cal-heading {
    font-size: 1.5rem;
  }
  .water-intake-heading {
    font-size: 1.5rem;
  }
  .maintenance-calories-content {
    font-size: 2.25rem;
  }
  .w-i-content {
    font-size: 2.25rem;
  }
  .personalized-goal-heading {
    font-size: 1.5rem;
  }
  .goal-key-point {
    font-size: 1.25rem;
  }
  .goal-key-point img {
    width: 20%;
  }
  .get-diet-plan-head {
    font-size: 1.75rem;
    font-weight: 700;
  }
  .app-info-content {
    gap: 80px;
  }
  .app-info-key-point {
    font-size: 1.3rem;
  }
  .app-info-key-point img {
    width: 20%;
  }
  .app-info-app-img {
    width: 40%;
  }
}
@media (max-width: 450px) {
  .summary-body-1 {
    width: 50%;
  }
  .summary-body-1 img {
    width: 100%;
    object-fit: cover;
  }
  .summary-body-seperator {
    width: 20%;
  }
  .summary-body-seperator img {
    width: 100%;
    object-fit: cover;
  }
  .summary-body-2 {
    width: 50;
  }
  .summary-body-2 img {
    width: 100%;
    object-fit: cover;
  }
  .summary-head-content-headings {
    gap: 150px;
  }
  .summary-head-content-headings span {
    font-size: 1.25rem;
  }
  .summary-head-content-body-fat {
    gap: 150px;
  }
  .body-fat-content-now span {
    font-size: 1.25rem;
  }
  .body-fat-content-now span:nth-child(2) {
    font-weight: 500;
  }
  .body-fat-content-fut span {
    font-size: 1.25rem;
  }
  .body-fat-content-fut span:nth-child(2) {
    font-weight: 500;
  }
  .summary-head-content-muscle-mass {
    display: flex;
    gap: 50px;
  }
  .body-fat-muscle-mass-now span {
    font-size: 1.25rem;
  }
  .body-fat-muscle-mass-fut span {
    font-size: 1.25rem;
  }

  .repersentation-purpose-text {
    font-size: 0.8rem;
  }
  .personalized-insights-text {
    font-size: 1.8rem;
    text-align: center;
  }
  .maintenance-cal-heading {
    font-size: 1.5rem;
  }
  .water-intake-heading {
    font-size: 1.5rem;
  }
  .maintenance-calories-content {
    font-size: 2.25rem;
  }
  .w-i-content {
    font-size: 2.25rem;
  }
  .personalized-goal-heading {
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .goal-key-point {
    font-size: 1.25rem;
  }
  .goal-key-point img {
    width: 20%;
  }
  .get-diet-plan-head {
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
  }

  .calories-and-water-wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .personalized-goal-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0 0 0;
  }
  .payment-heading {
    font-size: 1rem;
    text-align: center;
    padding: 10px 30px;
  }
  .payment-amount {
    font-size: 1.5rem;
  }
  .pay-now-btn {
    font-size: 1.3rem;
  }
  .app-info-heading {
    font-size: 2rem;
  }

  .app-info-sub-heading {
    font-size: 1.5rem;
  }
  .app-info-content {
    gap: 20px;
  }
  .app-info-key-points {
    gap: 20px;
  }
  .app-info-key-point {
    gap: 20px;
    font-size: 0.75rem;
  }
  .app-info-key-point img {
    width: 15%;
  }
  .app-info-app-img {
    width: 50%;
  }
  .app-info-app-img img {
    height: 300px;
  }
}
