.overall-summary-content1 {
    gap: 6rem;
}

.overall-summary-content2  {
   margin-top: 20px;
  }
.stats{
    display: flex;
    flex-direction: row;
    gap: 16.5rem;
}

.overall-summary-content2 p {
    font-family: "Plus Jakarta Sans";
  }
  
  .description-text{
    margin-top: 2rem;
    text-align: center;
  }

  .maintain-card {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 2em;
    width: 28rem;
  }
  
  p.maintain-p {
    font-size: 2.25rem;
    width: 30rem;
    line-height: 1.2em;
    font-weight: bold;
  }

  .offer-div {
    background-image: url("../../../public/images/offerbackground.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 300px !important;
    height: 300px !important;
    background-size: contain;
    right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -50px;
}

.offer-div h4,
.offer-div h5 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Mixed";
}


.plan-div {
    background-color: #9feb9f;
    padding: 30px;
    width: 35rem;
    border-radius: 12px;
    justify-content: space-between;
    margin-top: 4rem;
    margin-left: 200px;
  }