@media (min-width: 768px) {

     .form-conatiner {
          margin: 3em;
     }
     
     .bmi-content {
       top: 18em !important;
     }
}

@media (max-width: 768px) {

     /* landing page css */

     .form-header h3 {
          font-size: 1rem;
     }

     .form-header p {
          font-size: 0.9rem;
     }

     .age-input-group {
          flex-direction: column;
     }

     .agree-input {
          width: 20px;
          height: 12px;
     }

     p.agree-terms-para {

          text-align: left;
          font-size: 0.7rem;
     }

     /* common buttons */

      /* biological sex */
     .buttonContainergender {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          align-content: center;
          gap: 2rem;
          margin-top: 1rem;
     }

     .selectedgenderButton {
          display: flex;
          align-items: center;
          justify-content: center;
     
          width: 94px;
          height: 94px;
          background-color: #000;
          border-radius: 10px;
     }

     .genderbutton {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 94px;
          height: 94px;
          background-color: #ffffff;
          border-radius: 10px;
     }

     .genderOption{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
     }

     .maletext {
          text-align: center;
          font-size: 20px;
          margin-top: 5px;
          font-weight: bold;
          margin-left: 3px;
     }
     
     .femaletext {
          text-align: center;
          font-size: 20px;
          margin-top: 5px;
          font-weight: bold;
          margin-left: 3px;
     }

      /* occupation */
     .mobile{
       height: calc(100vh - 200px) !important;
       overflow: auto;
       -webkit-overflow-scrolling: touch; 
       scrollbar-width: none;
       -ms-overflow-style: none; 
      } 
     button.occupationbutton {
          width: 300px;
          border-radius: 8px;
          font-weight: bold;
          color: #000;
          text-align: left;
          background: linear-gradient(90deg, rgba(159, 235, 159, 60%) 0%, rgba(215, 249, 215, 60%) 100%);
          box-shadow: none;
     }

     .selectedButton {
          width: 300px;
          padding: 10px;
          background: linear-gradient(to right, #FF9191 0%, #FFD0D0 100%);
          text-align: left;
          border-radius: 8px;
          font-weight: bold;
          box-shadow: none;
     }

     .othercontainer {
          width: 300px;
          height: 150px;
          padding: 10px;
          background: linear-gradient(90deg, rgba(159, 235, 159, 60%) 0%, rgba(215, 249, 215, 60%) 100%);
          border-radius: 8px;
     }

     .inputContainer {
          width: 280px;
          height: 100px;
          background-color: transparent;
          border-radius: 8px;
          color: #000;          
     }
     .textTag {       
          font-size: 16px;
          font-weight: bold;
     }

     /* height */

    .form input
    {
     width: 100px;
     height: 30px;
     background-color: #FDF4F4;
     border: 1px solid #F59090;
     padding: 10px 14px;
     border-radius: 5px;
    }  
   
  .form1 input {
     width: 300px;
     height: 35px;
     background-color: #FDF4F4;
     border: 1px solid #F59090;
     padding: 10px 14px;
     border-radius: 5px;
  }

  
  /* bmi */
  /* .mobileBmi{
     height: calc(100vh - 218px) !important;
     overflow: auto;
     -webkit-overflow-scrolling: touch; 
     scrollbar-width: none;
     -ms-overflow-style: none; 
  } */

.bmi-ui-section1,
.bmi-ui-section2 {
     height: 100%;
}

.progress-circle-svg{
     width: 200px;
     height: 200px;
}
.bmi-category {
     margin-top: -3.5em;
     position: relative;
}
 .bmi-progress{
   margin-top: -50px;
 }
.bmi-category p {
     font-size: 0.4em;
}

span.bmi-status1 {
     padding-right: 50px;
     font-size: 0.6rem;
}
span.bmi-status2 {
     padding-left: 10px;
     font-size: 0.6rem;
}
span.bmi-title, span.bmi-value{
     font-size: 1rem;
}

.bmi-ui-content {
     background: linear-gradient(90deg, rgba(159, 235, 159, 60%) 0%, rgba(215, 249, 215, 60%) 100%);
     border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
     padding: 3rem;
     height: 200px;
}
.bmi-category-name {
     margin-top: 1em;
    text-transform: uppercase;
    font-size: .7rem;
}
span.bmi-motivation {
     font-size: .7rem;
}
span.bmi-description {
     font-size: .7rem;
}
span.bmi-value {
     font-family: 'Plus Jakarta Sans';
     margin-top: -10px;
}

.bmi-content {
     position: absolute;
     top: 11em;
}
.bmi-content-para,
.bmi-content-para2 {
     padding: 10px 30px;
}


span.bmi-content-para {
     font-size: 1.5rem;
}

span.bmi-content-para2 {
     font-size: 1.5rem;
}

.bmi-submit-buttion {
     margin-top: 10rem;
     margin-bottom: 2rem;
}
}
@media (min-width: 768px) {

     .form-conatiner {
          margin: 3em;
     }

     .mobile-button {
          justify-content: center !important;
          background: none !important;
     }

     .age-input-group {
          flex-direction: row !important;
     }

     .agree-input {
          width: 16px !important;
          height: 16px !important;
     }

     /* gerder page css  */
     .buttonContainergender {
          flex-direction: row !important;
     }

     .diet-ui-container {
          margin-bottom: 0 !important;
     }
}

@media (max-width: 768px) {

     /* landing page css */

     .form-conatiner {
          margin: 0em;
     }

     .form-header,
     .grp-input-check {
          padding: 10px 20px !important;
     }

     .form-header h3 {
          font-size: 1rem;
     }

     .form-header p {
          font-size: 0.9rem;
     }

     .age-input-group {
          flex-direction: column;
     }

     .agree-input {
          width: 20px;
          height: 12px;
     }

     p.agree-terms-para {

          text-align: left;
          font-size: 0.7rem;
     }

     .mobile-button {
          background: #DFDFDF;
          justify-content: end;
          padding: 10px;
          position: absolute;
          width: 100%;
          bottom: 0;
     }

     .grp-input-check {
          padding: 0px 10px;
     }

     .agree-input:checked::before {
          color: white !important;

     }

     .age-input-group {
          margin-top: 2rem;
     }

     .grp-input-check {
          margin-top: 2rem;
     }

     /* gender page css  */
     .buttonContainergender {
          flex-direction: column;
          gap: 1.5rem;
          margin-top: 1rem;
     }

     .diet-ui-container {
          margin-bottom: 0 !important;
     }

     /* about-yourself css */
     label.about-yourself-label {
          font-size: 1rem;
     }

     .about-yourself-form {
          padding: 20px;
     }

     /* water intake heading ... */
     h4.water-intake-heading {
          font-size: 1.375rem;
          margin-top: 1rem;
     }
     h4.sleep-hours-heading {
          font-size: 1.375rem;
          margin-top: 1rem;
     }
}