@media (min-width: 768px) {

     .form-conatiner {
          margin: 3em;
     }
}

@media (max-width: 768px) {

     /* landing page css */

     .form-header h3 {
          font-size: 1rem;
     }

     .form-header p {
          font-size: 0.9rem;
     }

     .age-input-group {
          flex-direction: column;
     }

     .agree-input {
          width: 20px;
          height: 12px;
     }

     p.agree-terms-para {

          text-align: left;
          font-size: 0.7rem;
     }

     /* common buttons */

      /* biological sex */
     .buttonContainergender {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          align-content: center;
          gap: 2rem;
          margin-top: 1rem;
     }

     .selectedgenderButton {
          display: flex;
          align-items: center;
          justify-content: center;
     
          width: 94px;
          height: 94px;
          background-color: #000;
          border-radius: 10px;
     }

     .genderbutton {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 94px;
          height: 94px;
          background-color: #ffffff;
          border-radius: 10px;
     }

     .genderOption{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
     }

     .maletext {
          text-align: center;
          font-size: 20px;
          margin-top: 5px;
          font-weight: bold;
          margin-left: 3px;
     }
     
     .femaletext {
          text-align: center;
          font-size: 20px;
          margin-top: 5px;
          font-weight: bold;
          margin-left: 3px;
     }

      /* occupation */
     button.occupationbutton {
          width: 350px;
          border-radius: 8px;
          font-weight: bold;
          color: #000;
          text-align: left;
          background: linear-gradient(90deg, rgba(159, 235, 159, 60%) 0%, rgba(215, 249, 215, 60%) 100%);
          box-shadow: none;
     }

     .selectedButton {
          width: 350px;
          padding: 10px;
          background: linear-gradient(to right, #FF9191 0%, #FFD0D0 100%);
          text-align: left;
          border-radius: 8px;
          font-weight: bold;
          box-shadow: none;
     }

     .othercontainer {
          width: 350px;
          height: 150px;
          padding: 10px;
          background: linear-gradient(90deg, rgba(159, 235, 159, 60%) 0%, rgba(215, 249, 215, 60%) 100%);
          border-radius: 8px;
     }

     .inputContainer {
          width: 330px;
          height: 100px;
          background-color: transparent;
          border-radius: 8px;
          color: #000;          
     }
     .textTag {       
          font-size: 16px;
          font-weight: bold;
     }
     
}