@media (min-width: 768px) {

     .form-conatiner {
          margin: 3em;
     }

     .mobile-button {
          justify-content: center !important;
          background: none !important;
     }

     .age-input-group {
          flex-direction: row !important;
     }

     .agree-input {
          width: 16px !important;
          height: 16px !important;
     }

     /* gerder page css  */
     .buttonContainergender {
          flex-direction: row !important;
     }

     .diet-ui-container {
          margin-bottom: 0 !important;
     }


     /* health condition */
     .healthConditionConatiner {
        
          padding: 20px 5rem !important;
          margin-bottom: 0 !important;
          
      }
      .allergyConatiner {
          padding: 20px 5rem !important;
          margin-top: 0rem !important;
          margin-bottom: 4rem;
      }
}

@media (max-width: 768px) {

     /* landing page css */

     .form-conatiner {
          margin: 0em;
     }

     .form-header,
     .grp-input-check {
          padding: 10px 20px !important;
     }

     .form-header h3 {
          font-size: 1rem;
     }

     .form-header p {
          font-size: 0.9rem;
     }

     .age-input-group {
          flex-direction: column;
     }

     .agree-input {
          width: 20px;
          height: 12px;
     }

     p.agree-terms-para {

          text-align: left;
          font-size: 0.7rem;
     }

     .mobile-button {
          background: #DFDFDF;
          justify-content: end;
          padding: 10px;
          position: fixed;
          width: 100%;
          bottom: 0;
     }

     .grp-input-check {
          padding: 0px 10px;
     }

     .agree-input:checked::before {
          color: white !important;

     }

     .age-input-group {
          margin-top: 2rem;
     }

     .grp-input-check {
          margin-top: 2rem;
     }

     /* gender page css  */
     .buttonContainergender {
          flex-direction: column;
          gap: 1.5rem;
          margin-top: 1rem;
     }

     .diet-ui-container {
          margin-bottom: 0 !important;
     }

     /* about-yourself css */
     label.about-yourself-label {
          font-size: 1rem;
     }

     .about-yourself-form {
          padding: 20px;
     }

     /* water intake heading ... */
     h4.water-intake-heading {
          font-size: 1.375rem;
          margin-top: 1rem;
     }
     h4.sleep-hours-heading {
          font-size: 1.375rem;
          margin-top: 1rem;
     }

     /* cheat meal */
     .cheatmeal-container {
          margin-top: 2rem;
          padding: 20px;
      }

      .cheatmeal-content, .foodprefer-ui-container, .health-ui-container {
          height: calc(100vh - 150px) !important;
          overflow-y: auto;
      }

      /* food preference */
      .vegg-div {
          padding: 0px 1em;
          margin-bottom: 1rem;
      }

      .foodprefer-item-list {
          padding: 1em 0em;
      }

      span.foodprefer-item-span {
        
          padding: 0.4em 1em;
        
      }
      .vegg-title {
          font-size: 1rem;
      }
      span.vegg-span {
          font-size: 0.8rem;
      }


      /* health condition */
      .healthConditionConatiner{
          height: auto !important;
          width: auto !important;
          padding: 20px;
          margin-top: 1rem;
          margin-bottom: 0rem;
      }
      .allergyConatiner {
          height: auto !important;
          width: auto !important;
          padding: 20px;
          margin-bottom: 1rem;
      }

      .headerText {
          font-size: 1rem;
      }
      .buttonContainer button {
          font-size: 0.8rem;
      }
}