@media (min-width: 768px) {

     .form-conatiner {
          margin: 3em;
     }
}

@media (max-width: 768px) {

     /* landing page css */

     .form-header h3 {
          font-size: 1rem;
     }

     .form-header p {
          font-size: 0.9rem;
     }

     .age-input-group {
          flex-direction: column;
     }

     .agree-input {
          width: 20px;
          height: 12px;
     }

     p.agree-terms-para {

          text-align: left;
          font-size: 0.7rem;
     }
}