.about-us-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.about-us-wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.about-us-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(77, 221, 77, 0.2) 76%,
    rgba(255, 255, 255, 1) 100%
  );
}
.about-us-head {
  font-size: 2.5rem;
  font-weight: 700;
}
.about-us-tags {
  color: #696969;
  font-weight: 700;
  font-size: 2rem;
}
.about-us-mobile-image {
  height: 830px;
}

.about-us-mobile-image img {
  height: 100%;
}
.about-us-the-mission {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}
.the-mission-head {
  font-size: 3rem;
  font-weight: 700;
}
.the-mission-content {
  width: 100%;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 2.25rem;
  font-weight: 400;
}
.about-us-first-content {
  background-image: url("/images/aboutUs/aboutus_first_bg.png");
}
.about-us-first-content-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 10% 0;
  background: linear-gradient(
    41deg,
    rgba(255, 255, 255, 1) 60%,
    rgba(255, 255, 255, 0.84) 73%,
    rgba(255, 255, 255, 0.7) 89%,
    rgba(255, 255, 255, 0.37) 96%,
    rgba(255, 255, 255, 0) 100%
  );
}
.para-heading {
  font-size: 3rem;
  font-weight: 700;
}

.the-para {
  font-size: 2.25rem;
  font-weight: 400;
}
.about-us-paras {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-us-second-content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10% 0;
}

.about-us-second-content {
  background: linear-gradient(
    180deg,
    rgba(212, 255, 212, 0.4318102240896359) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
@media (max-width: 1030px) {
  .about-us-head {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
  .about-us-tags {
    font-size: 1.2rem;
  }
  .about-us-mobile-image {
    height: 530px;
    width: 100%;
  }

  .about-us-mobile-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .the-mission-head {
    font-size: 2.5rem;
  }
  .the-mission-content {
    padding: 0 10%;
    font-size: 1.5rem;
  }
  .para-heading {
    font-size: 2rem;
    font-weight: 700;
  }

  .the-para {
    font-size: 1.25rem;
    font-weight: 400;
  }
  .about-us-paras {
    width: 70%;
    padding: 0 5%;
  }
}
@media (max-width: 450px) {
  .about-us-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .about-us-heading {
    gap: 20px;
  }
  .about-us-head {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
  }
  .about-us-tags {
    font-size: 0.8rem;
  }
  .about-us-mobile-image {
    height: 330px;
    width: 100%;
  }

  .about-us-mobile-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .the-mission-head {
    font-size: 2rem;
  }
  .the-mission-content {
    padding: 0 5%;
    font-size: 1.25rem;
  }
  .about-us-first-content {
    background-image: url("/images/aboutUs/aboutus_first_bg.png");
  }
  .about-us-first-content-wrapper {
    flex-direction: column-reverse;
    padding: 10% 0;
    gap: 20px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 0.84) 73%,
      rgba(255, 255, 255, 0.7) 89%,
      rgba(255, 255, 255, 0.37) 96%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .para-heading {
    font-size: 2rem;
    font-weight: 700;
  }

  .the-para {
    font-size: 1.25rem;
    font-weight: 400;
  }
  .about-us-paras {
    width: 100%;
    padding: 0 5%;
  }

  .about-us-second-content-wrapper {
    flex-direction: column-reverse;
    gap: 20px;
    padding: 10% 0;
  }

  .about-us-first-img {
    width: 80%;
  }
  .about-us-second-img {
    width: 80%;
  }
  .about-us-second-content {
    background: linear-gradient(
      180deg,
      rgba(212, 255, 212, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
